
$padding-base-vertical: 0.375em;
$padding-base-horizontal: 0.75em;
$padding-large-vertical: 0.625em;
$padding-large-horizontal: 1em;
$padding-small-vertical: 0.3125em;
$padding-small-horizontal: 0.625em;
$padding-xs-vertical: 0.0625em;
$padding-xs-horizontal: 0.3125em;
