
:root {
  --border-radius-base: 4px;
  /* Icons in lists, record home icon, unbound input elements */
  --border-radius-large: 6px;
  --border-radius-small: 3px;
  --body-bg: rgb(255, 255, 255);
  --state-success-bg: rgb(223, 240, 216);
  --state-info-bg: rgb(217, 237, 247);
  --state-warning-bg: rgb(252, 248, 227);
  --state-danger-bg: rgb(242, 222, 222);
  --hr-border: rgb(238, 238, 238);
  --blockquote-border-color: rgb(238, 238, 238);
  --page-header-border-color: rgb(238, 238, 238);
  --abbr-border-color: rgb(238, 238, 238);
  --headings-small-color: rgb(119, 119, 119);
  --text-color: rgb(51, 51, 51);
  --text-muted: rgb(119, 119, 119);
  --text-color-light: rgb(119, 119, 119);
  --state-info-text: rgb(49, 112, 143);
  --link-color: rgb(51, 122, 183);
  --state-success-text: rgb(60, 118, 61);
  --state-warning-text: rgb(138, 109, 59);
  --state-danger-text: rgb(169, 68, 66);
  --link-hover-color: rgb(35, 82, 124);
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;
  --font-family-serif: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;
  --font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;;
  --font-family-base: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;
  --headings-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;;
  --headings-font-weight: 500;
  --blockquote-font-size: 1.25em;
  --font-size-large: 1.25em;
  --font-size-h1: 2.6em;
  --font-size-h2: 2.15em;
  --font-size-small: 85em;
  --font-size-h3: 1.7em;
  --font-size-h4: 1.25em;
  --font-size-h5: 16px;
  --font-size-h6: .85em;
  --font-size-base: 1em;
  /* Unitless line-heights for reusability */
  --line-height-base: 1.45em;
  /* Unitless line-heights for reusability */
  --line-height-computed: 1.45em;
  --headings-line-height: 1.1em;
  --line-height-large: 1.3333333em;
  --line-height-small: 1.055em;
  --padding-base-vertical: 0.375em;
  --padding-base-horizontal: 0.75em;
  --padding-large-vertical: 0.625em;
  --padding-large-horizontal: 1em;
  --padding-small-vertical: 0.3125em;
  --padding-small-horizontal: 0.625em;
  --padding-xs-vertical: 0.0625em;
  --padding-xs-horizontal: 0.3125em;
}
