
//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

$screen-xs-min:              480px !default;
$screen-sm-min:              768px !default;
$screen-md-min:              992px !default;
$screen-lg-min:              1200px !default;
$screen-hd-min:              1408px !default;

$screen-xs-max:              767px !default;
$screen-sm-max:              991px !default;
$screen-md-max:              1199px !default;
$screen-hd-max:              1407px !default;
