@import 'node_modules/@scbd/ecosystem-tokens/line-height/index.scss';
@import 'node_modules/@scbd/ecosystem-tokens/color-border/index.scss';


hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  border-top: 1px solid $hr-border;
}
