@import url("assets/style/layouts/base/build.min.css");
@import url("assets/style/layouts/container/build.min.css");
@import url("assets/style/layouts/grid/build.min.css");
@import url('assets/style/elements/typography/headings/build.css');
@import url('assets/style/modifiers/helpers/build.min.css');
@import url('assets/style/modifiers/text/build.min.css');


.debug {
  border: 1px solid red;
  min-width: 5px;
  min-height: 5px;
}
