
$text-color: rgb(51, 51, 51);
$link-color: rgb(51, 122, 183);
$link-hover-color: rgb(35, 82, 124);
$text-muted: rgb(119, 119, 119);
$headings-small-color: rgb(119, 119, 119);
$blockquote-small-color: rgb(119, 119, 119);
$headings-color: rgb(119, 119, 119);
