
:root {
  /* Unitless line-heights for reusability */
  --line-height-base: 1.45;
  /* Unitless line-heights for reusability */
  --line-height-computed: 1.45;
  --headings-line-height: 1.1;
  --line-height-large: 1.3333333;
  --line-height-small: 1.5;
}
